<a href="https://colab.research.google.com/github/mohamednader973/SQLALCHEMY_PYTHON/blob/main/Real%20world%20databases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ibm_db

Requirement already satisfied: sqlalchemy==1.3.9 in /usr/local/lib/python3.7/dist-packages (1.3.9)
ERROR: unknown command "reinstall" - maybe you meant "install"
Requirement already satisfied: ibm_db in /usr/local/lib/python3.7/dist-packages (3.1.0)

In [57]:
import ibm_db
import ibm_db_sa
import ibm_db_dbi

In [47]:
import sqlalchemy
from sqlalchemy import *

In [48]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [58]:
%sql ibm_db_sa://kpc71984:waxxqQuQdQBVLUrT@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb?authSource=admin&replicaSet=replset

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [59]:
import pandas
chicago_socioeconomic_data = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
%sql PERSIST chicago_socioeconomic_data

      ca community_area_name  ...  per_capita_income_  hardship_index
0    1.0         Rogers Park  ...               23939            39.0
1    2.0          West Ridge  ...               23040            46.0
2    3.0              Uptown  ...               35787            20.0
3    4.0      Lincoln Square  ...               37524            17.0
4    5.0        North Center  ...               57123             6.0
..   ...                 ...  ...                 ...             ...
73  74.0     Mount Greenwood  ...               34381            16.0
74  75.0         Morgan Park  ...               27149            30.0
75  76.0              O'Hare  ...               25828            24.0
76  77.0           Edgewater  ...               33385            19.0
77   NaN             CHICAGO  ...               28202             NaN

[78 rows x 9 columns]

In [ ]:
%sql SELECT * FROM chicago_socioeconomic_data